* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	font-size: 1rem;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.frame {
	width: 98vw;
	margin: auto;
	margin-top: 0.5rem;
	border-radius: 5px;
	overflow: hidden;
}

.frame-header {
	height: 5rem;
	background: #333;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 200%;
}

.frame-body {
	display: flex;
	flex-direction: column;
}

.frame-footer {
	height: 2rem;
	background: #333;
	color: white;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0.5rem;
}



table {
    border:1px solid lightgrey;
	margin: 1rem;
}

td {
    height:40px;
	text-align: left;
    padding: 0.25rem;
    
}

tr td:first-child {
    width:50%;
    text-align: right;
    font-weight:600;
    color:#555;

}

tr td:last-child{
    color:black;
    font-size:120%;
    text-emphasis: bold;
    font-weight: 700;
}

input {
	margin: 1rem;
	width: 200px;
	padding: 0.4rem 0.25rem;
	font-variant: small-caps;
	border-radius: 2px;
    border: 1px solid lightgrey;
      color:purple;
    
}

td > input {
	margin: 0px;
    width: 100%;
}

tr.head td {
	text-align: center;
	font-size: 125%;
    color: rgb(149, 35, 255);
    background:white;
}

.frame-body > div {
    padding: 1rem;
    border-bottom: 5px solid lightgrey;
}



.table-container {
	display: flex;
	justify-content: center;
}

tr:nth-child(even){
  background:rgb(255, 255, 140);
}

tr:nth-child(odd){
    background:rgb(255,255,195);
}
